{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container border p-3 rounded" style="max-width: 35rem;">
        <h4 class="text-center bold border-bottom pb-3">Connexion</h4>

        {% if error %}
            <div class="text-danger mb-3 text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form method="post">
            <div class="form-group">
                <label for="inputEmail">Email :</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required placeholder="Email" autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword">Mot de passe :</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>
            <div>
                <p>Pas encore inscrit ? <a href="{{ path('app_register') }}" class="bold text-dark">Inscription</a></p>
            </div>
            <button type="submit" class="btn btn-lg btn-outline-success btn-block text-uppercase">Me connecter</button>
        </form>
    </div>

{% endblock %}
