<footer style="background-color: #faf1ed" class="p-5 mt-5">
    <div class="d-flex justify-content-between">
        <img src="{{ asset('/assets/img/logo.svg') }}" style="width: 10rem">
        <p class="my-auto" style="vertical-align: initial">© 2020 FoodLover Tous droits réservés.</p>
    </div>
</footer>