{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container border p-3 rounded" style="max-width: 35rem;">
        <h4 class="text-center bold border-bottom pb-3">Inscription</h4>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.roles) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-lg btn-outline-success btn-block text-uppercase">Inscription</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
