<form method="post" action="{{ path('opinion_delete', {'id': opinion.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer l\'avis ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ opinion.id) }}">
    <button class="btn p-0 text-success ml-2"><small>Supprimer</small></button>
</form>
