<div class="border-bottom rounded d-flex py-3">
    <div class="mx-4 text-center" style="width: 7rem">
        <p class="bold mb-0">{{ opinion.user.pseudo }}</p>
        <p>{{ allOpinionsUser|length }} avis</p>
    </div>
    <div class="w-100">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <h5 class="bold m-0">{{ opinion.title }}</h5>
                {% if opinion.user == app.user %}
                    <a href="{{ path('opinion_edit', { id: opinion.id }) }}" class="text-dark ml-2"><small>Modifier</small></a>
                    {{ include('opinion/_delete_form.html.twig') }}
                {% endif %}
            </div>
            <div>
                {% for i in 1..opinion.note  %}
                    <span class="material-icons bg-success text-white rounded" style="padding: .2rem; font-size: 15px">star_rate</span>
                {% endfor %}
                {% if opinion.note < 5 %}
                    {% for i in 1..(5-opinion.note) %}
                        <span class="material-icons bg-secondary text-white rounded" style="padding: .2rem; font-size: 15px">star_rate</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <p class="mb-3" style="font-size: .8rem">Publié le {{ opinion.createdAt|date("m/d/Y") }} à {{ opinion.createdAt|date("H:i") }}</p>
        <p>{{ opinion.message }}</p>
    </div>
</div>
