{% extends 'base.html.twig' %}

{% block title %}Edit Opinion{% endblock %}

{% block body %}

    <h2 class="mb-3">Modifier votre avis</h2>

    {{ include('opinion/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('restaurant_show', { id: restaurant.id }) }}" class="btn btn-dark btn-sm mt-2">Retour au restaurant</a>

{% endblock %}
