{% extends 'base.html.twig' %}

{% block title %}Les restaurants{% endblock %}

{% block body %}

    <h2 class="mb-3">Tous les restaurants</h2>

    <ul href="#" class="p-0 listRestaurants">
    {% for restaurant in restaurants %}
        <li href="#" class="d-flex py-3 border-bottom">
            <div style="width: 20rem; height: 10rem">
                <img src="{{ restaurant.linkPhoto }}" class="w-100 h-100 rounded" style="object-fit: cover">
            </div>
            <div class="px-3 w-100 d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-between">
                    <h3>{{ restaurant.name }}</h3>
                    {% include 'restaurant/_note.html.twig' %}
                </div>
                <div>
                    <p class="mb-1">{{ restaurant.foodtype }}</p>
                    <p class="mb-1">{{ restaurant.address.line }}, {{ restaurant.address.postalcode }} {{ restaurant.address.city }}</p>
                </div>
                <div>
                    <a href="{{ path('restaurant_show', { id: restaurant.id }) }}" class="btn btn-success btn-sm mb-0">Voir le restaurant</a>
                </div>
            </div>
        </li>
    {% else %}
    </ul>
    <p>Vous n'avez aucun restaurant d'inscrit.</p>
    {% endfor %}

{% endblock %}
