{% extends 'base.html.twig' %}

{% block title %}FoodLover{% endblock %}

{% block body %}

    <section class="d-flex justify-content-center position-relative" id="backgroundCenter">
        <div id="imgBackgroundCenter"></div>
        <div style="width: 60%; padding: 7.5rem 0; z-index: 999">
            <h2 class="bold text-black">Trouvez le bon restaurant.</h2>
            <form class="form-inline">
                <input type="search" class="form-control w-100 border-0" id="search" name="search" placeholder="Quel restaurant ?" style="border-radius: .6rem; box-shadow: 0 4px 4px rgba(0,0,0,.25); padding: 1.8rem">
            </form>
        </div>
    </section>

    <section class="text-center my-5">
        <h2 class="m-0 p-0 text-center position-relative" id="separatorTitle">
            <span class="bold bg-white px-4">Les 5 restaurants les mieux notés</span>
        </h2>
    </section>

    <section class="d-flex flex-wrap justify-content-center">
        {% for restaurant in restaurants %}
            <a href="{{ path('restaurant_show', { id: restaurant.id }) }}" class="card link-card text-dark text-decoration-none mx-2" style="width: 25rem;">
                <img src="{{ restaurant.linkPhoto }}" class="card-img-top" style="height: 11rem; object-fit: cover">
                <div class="card-body">
                    <h4 class="card-title bold mb-1">{{ restaurant.name }}</h4>
                    <div class="my-2">
                        {% include 'restaurant/_note.html.twig' %}
                    </div>
                    <p class="card-text">{{ restaurant.foodtype }}</p>
                    <p class="card-text">{{ restaurant.address.line }}, {{ restaurant.address.postalCode }} {{ restaurant.address.city }}</p>
                </div>
            </a>
        {% endfor %}
    </section>

{% endblock %}