<ul href="#" class="listRestaurants p-0">
    {% for restaurant in myRestaurants %}
    <li href="#" class="d-flex py-3 border-bottom">
        <div style="width: 20rem; height: 10rem">
            <img src="{{ restaurant.linkPhoto }}" class="w-100 h-100 rounded" style="object-fit: cover">
        </div>
        <div class="px-3 w-100 d-flex flex-column justify-content-between">
            <div class="d-flex justify-content-between">
                <h3>{{ restaurant.name }}</h3>
                {% include 'restaurant/_note.html.twig' %}
            </div>
            <div>
                <p class="mb-1">{{ restaurant.foodtype }}</p>
                <p class="mb-1">{{ restaurant.address.line }}, {{ restaurant.address.postalcode }} {{ restaurant.address.city }}</p>
            </div>
            <div class="d-flex">
                <a href="{{ path('restaurant_show', { id: restaurant.id }) }}" class="btn btn-success btn-sm mb-0 mr-2">Voir</a>
                {{ include('restorer_space/_delete_form.html.twig') }}
                <a href="{{ path('restaurant_edit', { id: restaurant.id }) }}" class="btn btn-warning btn-sm mb-0 ml-2">Modifier</a>
            </div>
        </div>
    </li>
    {% else %}
</ul>
<p>Vous n'avez aucun restaurant d'inscrit.</p>
{% endfor %}