{% extends 'base.html.twig' %}

{% block title %}Edit Restaurant{% endblock %}

{% block body %}

    <h2 class="mb-3">Modifier {{ restaurant.name }}</h2>

    {{ include('restorer_space/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('restorer_space', { id: restaurant.id }) }}" class="btn btn-dark btn-sm mt-2">Retour au restaurant</a>

{% endblock %}
