{% extends 'base.html.twig' %}

{% block title %}Espace restaurateur{% endblock %}

{% block body %}

    <h2 class="mb-3">Espace restaurateur</h2>

    <div class="row">
        <div class="col-3">
            <div class="list-group list-group-flush rounded" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="list-group-item list-group-item-action {% if not badform %}active{% endif %}" id="v-pills-restaurant-tab" data-toggle="pill" href="#v-pills-restaurant" role="tab" aria-controls="v-pills-restaurant" aria-selected="{{ badform }}">Mes restaurants</a>
                <a class="list-group-item list-group-item-action {% if badform %}active{% endif %}" id="v-pills-addRestaurant-tab" data-toggle="pill" href="#v-pills-addRestaurant" role="tab" aria-controls="v-pills-addRestaurant" aria-selected="{{ badform }}">Ajouter un restaurant</a>
                <a class="list-group-item list-group-item-action" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Mon profil</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">

                <!-- ========== Onglet "mes restaurants" ========== -->
                <div class="tab-pane fade {% if not badform %}show active{% endif %}" id="v-pills-restaurant" role="tabpanel" aria-labelledby="v-pills-restaurant-tab">
                    {{ include('restorer_space/_listRestaurant.html.twig') }}
                </div>

                <!-- ========== Onglet "ajouter un restaurant" ========== -->
                <div class="tab-pane fade {% if badform %}show active{% endif %}" id="v-pills-addRestaurant" role="tabpanel" aria-labelledby="v-pills-addRestaurant-tab">
                    {{ include('restorer_space/_form.html.twig') }}
                </div>

                <!-- ========== Onglet "mon profil" ========== -->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Email</th>
                            <td>{{ app.user.email }}</td>
                        </tr>
                        <tr>
                            <th>Pseudo</th>
                            <td>{{ app.user.pseudo }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
